body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: pink;
}

.container {
    width: 90px;
    margin:0% auto;
}

.header-container {
    padding:1,5 rem 0;
    text-align: center;
}

    h1 {
        font: size 1,5 rem;
        font-weight:700;
        margin:1rem;
    }

    li {
        list-style: none;
        display:inline;
        margin: 0 0.5rem;

    }

    a {
        text-decoration: none;
        color:inherit;
    }


