/* styles added to the * symbol will affect every element on the page*/
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.6;
    color:black;
}

img {
    width: 100;
    display: block;
}

header {
    background-color: pink;
}

.container {
    width: 90px;
    margin:0% auto;
}

.header-container {
    padding:1,5 rem 0;
    background-color: green;
    text-align: flex;
    flex-direction: column;
}

    h1 {
        font: size 1,5 rem;
        font-weight:700;
        margin:1rem;
    }

    li {
        list-style: none;
        display:inline;
        margin: 0 0.5rem;

    }

    a {
        text-decoration: none;
        color:inherit;
    }

 /*This is media player which will change my styles when the viewport is 700px or more*/   
 @media (min-width: 700px) {
    .header-container {
        padding: 1.5rem 0;
        background-color: green;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

 }
 
li:hover {
    color: red;
}

 a {
    text-decoration: none;
    /*anchor */
    color: inherit;
 }

  .main-container {
    height: 100px;
  }

  .hero-section {
    max-height: 300px;
  }

/* This is media query */
@media (min-width: 700px) {
    .header-container {
        text-align: left;
        flex-direction: row;
        align-items: row;
        justify-content: space-between;

    }
}
 
h1 {
    margin: 0;
}

li {
    margin:0 0 1rem;

}

a {
    text-decoration: none;
    /* anchor element by default*/
    color: inherit;
}

.main-container {
    padding: top 1rem;
}

.hero-img {
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 2rem;

}

.hero-text {
    width: 90%;
    max-width: 80h;
    margin: 0 auto 2rem auto;
}

.img-container {
    Do not use emty rulets
}

.cookie-img {
    max-height: 200px;
    object-fit:cover;
    object-position:bottom center;
}



